<div class="container">
	<br>
	<h2>Nuevo contacto</h2><br><br>
	<div class="d-flex-grow w-75 justify-content-center">
		<%= render 'form', num2: @num2 %>
	</div>	
	<br>
<%= link_to 'Atrás', num2s_path, class:'btn btn-secondary' %>
</div>
