<div class="container fill">
	<h1>Num.cl</h1>
	<h3>(O al menos su copia barata)</h3>

	<br>
	TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest

	<br>
	<br>

	<%= current_user.inspect%>
</div>